section:nth-child(3) {
    background-color: #000000;
}

.shadow {
    pointer-events: none;
    background: linear-gradient(270deg, #000000bd 0%, #00000060 50%, #00000000 90%, #00000021 100%);
}

/*-------------------------- HOME -------------*/


#home-background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url('../img/home.jpg') no-repeat center top;
    background-size: cover;
    margin-top: 0;
}

#home, .shadow {
    z-index: -1;
}

#home h1, #home p {
    text-align: right;
    font-family: 'Staatliches', cursive;
    color: #FFFFFF;
}

#home h1 {
    cursor: pointer;
    font-size: var(--home-h1);
    line-height: var(--home-line-height);
}

#home h1:hover {
    color: #F79C1D;
}

#home p {
    font-size: var(--header-logo);
}

/*------------------------------- OPTIONS ------------*/

#options {
    height: auto;
    padding: 120px 0;
}

#options h1 {
    color: #FFFFFF;
}

#product-wrapper {
    padding: 24px 0 0;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 12px;   
    width: 220px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.product-img {
    z-index: 0;
    background-color: #FFFFFF;
    cursor: pointer;
    height: 100%;
}

.product-info {
    cursor: pointer;
    height: 96px;
    display: flex;
}

.product-name {
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    transition: color 0.25s ease;
}

.product-name:hover {
    color: #F79C1D;
}

.product-info:hover .product-name {
    color: #F79C1D;
}

/*------------------------------- OPTIONS ------------*/


@media only screen and (max-width: 640px) {
    .col5:nth-child(1) {
        width: 0%;
    }

    .col5:nth-child(2) {
        width: 100%;
    }
}