html, body {
    overflow-x: hidden;
}

h1, p {
    margin: 0;
    padding: 0;
    color: #000000;
}

section:nth-child(2) {
    background: url('../img/home.jpg') no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
}

section:nth-child(3) {
    background-color: #000000;
}

/*----------------------------------- HEADER -----------*/

header {
    display: flex;
    background-color: #000000;
}

header .upper, header .lower, .white-line {
    width: 100vw;
}

header .upper {
    height: 5vh;
}

header .lower {
    height: 10vh;
}

.white-line {
    background-color: #999999;
    height: 1px;
}

header h1, header a {
    color: #FFFFFF;
}

header p, header .upper a {
    font-size: var(--header-upper);
}

header .lower a {
    font-size: var(--header-lower);
}

.logo {
    width: auto;
    height: var(--header-logo);
}

header .upper a.signup {
    margin-right: 6px;
    font-weight: 600;
}

header a {
    margin: auto var(--header-lower-margin);
    transition: color 0.25s ease;
}

header a:hover {
    color: #F79C1D;
}

header p {
    color: #CCCCCC;
}

#menu {
    display: none;
}

#search {
    height: var(--header-lower);;
}

#menu {
    height: 18px;
}

#aember .white, #search .white, #account .white, #menu .white {
    cursor: pointer;
    fill: #FFFFFF;
    transition: fill 0.25s ease;
}

#aember:hover .white, #search:hover .white, #account:hover .white {
    fill: #F79C1D;
}

/*----------------------------------- HEADER -----------*/

.shadow {
    pointer-events: none;
    background: linear-gradient(270deg, #000000bd 0%, #00000060 50%, #00000000 90%, #00000021 100%);
}

/*-------------------------- HOME -------------*/

#home, .shadow {
    z-index: -1;
}

#home h1, #home p {
    text-align: right;
    font-family: 'Staatliches', cursive;
    color: #FFFFFF;
}

#home h1 {
    font-size: var(--home-h1);
    line-height: var(--home-line-height);
}

#home p {
    font-size: var(--header-logo);
}

@media only screen and (max-width: 640px) {
    header.pos-a {
        position: fixed;
    }

    header a, #search, header .upper, .white-line {
        display: none;
    }

    #menu {
        display: block;
    }

    .col5:nth-child(1) {
        width: 0%;
    }

    .col5:nth-child(2) {
        width: 100%;
    }

    #home .col5 p.r, #home .col5 h1.r {
        text-align: center;
        margin-right: auto;
    }
}