#product {
    background-color: #000000;
}

#product h1, p, a {
    color: #FFFFFF;
}

#product .container {
    margin-top: 24px;
}

#product-img {
    margin: 48px auto;
    width: 360px;
    height: 480px;
    background-color: #FFFFFF;
}

.size {
    color: #FFFFFF;
}

#product-name, #price, #description, .sizes {
    margin: auto;
}

#add-to-cart {
    cursor: pointer;
    margin: 24px auto;
    height: 24px;
    width: 96px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#add-to-cart p {
    pointer-events: none;
    font-family: 'Staatliches', 'Roboto', Arial, Helvetica, sans-serif;
    color: #000000;
}