:root {
    --header-upper: calc(9px + (11 - 9) * ((100vw - 640px) / (1600 - 640)));
    --header-lower: calc(12px + (16 - 12) * ((100vw - 640px) / (1600 - 640)));
    --header-logo: calc(18px + (22 - 18) * ((100vw - 640px) / (1600 - 640)));
    --header-lower-margin: calc(30px + (36 - 30) * ((100vw - 640px) / (1600 - 640)));
    --home-h1: calc(48px + (96 - 48) * ((100vw - 640px) / (1600 - 640)));
    --home-line-height: calc(52px + (96 - 52) * ((100vw - 640px) / (1600 - 640)));
    --mob-menu: calc(20px + (24 - 20) * ((100vw - 320px) / (640 - 320)));
    --mob-home-h1: calc(56px + (64 - 56) * ((100vw - 320px) / (640 - 320)));
    --mob-home-line-height: calc(52px + (64 - 52) * ((100vw - 320px) / (640 - 320)));
    --product-img: calc(400px + (500 - 400) * ((100vw - 640px) / (1600 - 640)));
    --mob-product-img: calc(400px + (500 - 400) * ((100vw - 640px) / (640 - 320)));
    --sizes: calc(36px + (56 - 36) * ((100vw - 320px) / (1600 - 640)));
    --padding: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 640)));
}

* { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }

h1, p {
    margin: 0;
    padding: 0;
    color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-y: auto;
}

body.land {
    position: fixed;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', 'Roboto', Arial, Helvetica, sans-serif;
}

p, a {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.col { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.flex.start { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.flex.end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.flex.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; } .app { width: auto; height: auto; }
.a { margin: auto; top: 0; right: 0; bottom: 0; left: 0; }
.none { display: none; } .pointer { cursor: pointer; } .nowrap { white-space: nowrap; }
.t { margin-top: 0; top: 0; } .r { margin-right: 0; right: 0; }
.b { margin-bottom: 0; bottom: 0; } .l { margin-left: 0; left: 0; }

.container {
    width: 80%;
}

.container-fluid {
    width: 100%;
}

.container.fh, .container-fluid.fh {
    height: 100%;
}

section, .shadow {
    width: 100vw;
    height: 100vh;
}

.pos {
    position: relative;
}

.pos-a {
    position: absolute;
}

.pos-f {
    position: fixed;
}

.box {
    padding: 12px;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 40%;
}

.col5 {
    width: 50%;
}

.colf {
    width: 100%;
}

@media only screen and (max-width: 640px) {
    section {
        height: auto;
    }

    section.heavy {
        height: 100vh;
    }
}

/*-------------------------------- HEADER ----------------------*/

header {
    display: flex;
    background-color: #000000;
}

header .upper, header .lower, .white-line {
    width: 100vw;
}

header .upper {
    height: 5vh;
}

header .lower {
    height: 10vh;
}

.white-line {
    background-color: #999999;
    height: 1px;
}

header h1, header a {
    color: #FFFFFF;
}

header p, header .upper a {
    font-size: var(--header-upper);
}

header .lower a {
    font-size: var(--header-lower);
}

.logo {
    width: auto;
    height: var(--header-logo);
}

header .upper a.signup {
    margin-right: 6px;
    font-weight: 600;
}

header a {
    margin: auto var(--header-lower-margin);
    transition: color 0.25s ease;
}

header a:hover {
    color: #F79C1D;
}

header p {
    color: #CCCCCC;
}

#menu, #account-menu {
    display: none;
}

#search, #account-menu {
    height: var(--header-lower);;
}

#menu {
    height: 18px;
}

#aember .white, #search .white, #account .white, #menu .white, #account-menu .white {
    cursor: pointer;
    fill: #FFFFFF;
    transition: fill 0.25s ease;
}

#aember:hover .white, #search:hover .white, #account:hover .white, #account-menu:hover .white {
    fill: #F79C1D;
}

@media only screen and (max-width: 640px) {
    .container {
        width: 85%;
    }

    header.pos-a {
        z-index: 1;
        position: fixed;
    }

    header a, #search, header .upper, .white-line {
        display: none;
    }

    #menu, #account-menu {
        height: var(--mob-menu);
        display: block;
    }

    #home .col5 p.r, #home .col5 h1.r {
        text-align: center;
        margin-right: auto;
    }

    #home h1 {
        font-size: var(--mob-home-h1);
        line-height: var(--mob-home-line-height);
    }
}

/*-------------------------------- HEADER ----------------------*/


#contact {
    background-color: #000000;
}