/*--------------------------------------------------

Hello,

This is the font-face stylesheet.
You can see the example below and
add your own local custom fonts.

Good coding!                            -by Gabriel.

--------------------------------------------------*/

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('circular.woff') format('woff');
}

h1 {
    font-family: 'Circular Std Bold', sans-serif;
    font-weight: normal;
}