.header-wrapper,
.upper-header,
.header,
.header .cart-wrapper,
.header-wrapper .container {
    display: flex;
}

.header-wrapper {
    width: auto;
    height: auto;
    flex-direction: column;
}

.upper-header {
    height: 36px;
    width: 100%;
    background-color: #101010;
}

.header {
    height: 72px;
    width: 100%;
    background-color: #101010;
}

.header a {
    width: auto;
    height: auto;
    display: flex;
}

.header-wrapper .container {
    width: 80%;
    margin: auto;
}

.header-wrapper hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #AAAAAA;
}

.header .icon {
    width: 20px;
    height: 20px;
    margin: auto 0 auto 18px;
}

.upper-header p {
    color: #CCCCCC;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
}

.search {
    margin: auto 0 auto auto;
}